<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- props $attrs -->
    <div id="app">
      <my-global-button></my-global-button>
      <my-local-button></my-local-button>
      <my-button :msg="content" a="1" b="2"></my-button>
    </div>
    <script src="../node_modules//vue//dist//vue.js"></script>
    <script>
      Vue.component('MyGlobalButton', {
        data() {
          return { msg: 'global click' };
        },
        methods: {
          handleGlobalClick() {
            console.log('ccc');
            alert('Global Click!');
          },
        },
        template: `<button v-on:click="handleGlobalClick">{{msg}}</button>`,
      });
      let vm = new Vue({
        el: '#app',
        data: { content: 'click me' },
        components: {
          MyLocalButton: {
            data() {
              return { msg: 'local click' };
            },
            methods: {
              handleLocalClick() {
                alert('Local Click!');
              },
            },
            template: `<button v-on:click="handleLocalClick">{{msg}}</button>`,
          },
          MyButton: {
            mounted() {
              console.log(this.$attrs);
            },
            inheritAttrs: false,
            template: `<div>my-button<my v-bind="$attrs"></my></div>`,
            components: {
              my: {
                props: ['a', 'b'],
                template: `<span>{{a}} {{b}}</span>`,
              },
            },
          },
        },
      });
    </script>
  </body>
</html>
