<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- props -->
    <div id="app">
      <my-button :a="1" :b="4" :arr="[1, 2]"></my-button>
    </div>
    <script src="../node_modules//vue//dist//vue.js"></script>
    <script>
      let vm = new Vue({
        el: '#app',
        data: { content: 'click me' },
        components: {
          MyButton: {
            props: {
              msg: {
                type: String,
                default: '点我',
              },
              a: { type: Number, defaut: 1 },
              b: {
                type: Number,
                validator(value) {
                  return value > 3;
                },
              },
              arr: {
                type: Array,
                default: () => [1, 2, 3],
              },
            },
            template: `<div>{{msg}} {{a}} {{b}} {{arr}}</div>`,
          },
        },
      });
    </script>
  </body>
</html>
